[Unit]
Description=python webapp for hy-tkt/tsoha
After=network-online.target
Wants=network-online.target

[Service]
Restart=always
RestartSec=10
WorkingDirectory=%h/kirjakatalogi
ExecStart=%h/kirjakatalogi/main.sh

[Install]
WantedBy=default.target
