<title>Kirjakatalogi</title>
<a href="/">Takaisin etusivulle</a>
<h2>{{book.title}}</h2>
<h3>{{book.author}}</h3>
<b>Ilmestymisvuosi:</b> {{book.pub_year}}<br>
<b>Kieli:</b> {{book.lang}}<br>
<b>Sivumäärä:</b> {{book.pagenumber}}<br>
<b>Genre(t): </b>
{%for g in genres%}
    {{g[0]}}
{%endfor%}<br>
{%if is_read%}
    <p>Olet lukenut tämän kirjan</p>
    <form action="/mark_unread" method="POST">
        <input type="submit" value="Poista luetuista">
        <input type="hidden" name="book_id" value={{book_id}}>
    </form>
{%else%}
    <form action="/mark_read" method="POST">
        <input type="submit" value="Merkitse luetuksi">
        <input type="hidden" name="book_id" value={{book_id}}>
    </form>
{%endif%}
