<title>Kirjakatalogi</title>
{%if session.username%}
    Hei, <b>{{session.username}}</b>!<br>
    <a href="/logout">Kirjaudu ulos</a><br>
    <h1>Kirjakatalogi</h1>
    {%if session.is_admin%}
        <a href="/newbook">Lisää kirja</a>
    {%endif%}
    <p><a href="/search">Hae kirjoja</a></p>
    <p><a href="/my_books">Luetut kirjat</a></p>
{%else%}
<title>Kirjaudu sisään - Kirjakatalogi</title>
<a href="/register">Luo uusi käyttäjä</a>
<form action="/login" method="POST">
    Käyttäjätunnus: <input type="text" name="username"><br>
    Salasana: <input type="password" name="password"><br>
    <input type="submit" value="Kirjaudu">
</form>
{%endif%}
