<link rel="stylesheet" href="/static/main.css">
<link rel="icon" type="image/x-icon" href="/static/favicon.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<img src="/static/banner.png" alt="Kirjakatalogi">
<title>Kirjakatalogi - Uusi kirja</title>
<body>
    <div class="content">
        <p><a href="/">Takaisin etusivulle</a></p>
        <h2>Lisää uusi kirja:</h2>
        <p><i>* Pakollinen kenttä</i></p>
        {%if session.is_admin%}
            <form action="/create" method="POST">
                <label for="title">* Kirjan nimi: </label>
                <input type="text" name="title">
                <label for="author">* Kirjailija: </label>
                <input type="text" name="author">
                <label for="pub_year">* Ilmestymisvuosi</label>
                <input id="pubyear-field" type="text" name="pub_year">
                <label for="lang">* Kieli: </label>
                <select id="lang-menu" name="lang">
                    <option value="suomi" selected>suomi
                    <option value="englanti">englanti
                    <option value="ruotsi">ruotsi
                </select>
                <label for="pagenumber">* Sivumäärä: </label>
                <input id="pagenumber-field"  type="text" name="pagenumber">
                <label for="genre">Genre: </label><br>
                <input type="checkbox" name="genre" value="Lapset">Lapset
                <input type="checkbox" name="genre" value="Jännitys">Jännitys
                <input type="checkbox" name="genre" value="Mysteeri">Mysteeri
                <input type="checkbox" name="genre" value="Klassikko">Klassikko
                <input type="checkbox" name="genre" value="Kauhu">Kauhu
                <input type="checkbox" name="genre" value="Fantasia">Fantasia
                <input type="checkbox" name="genre" value="Scifi">Scifi
                <input type="checkbox" name="genre" value="Romantiikka">Romantiikka
                <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
                <input id="submitbook-button" type="submit" value="Lisää">
            </form>
        {%else%}
            <p>Sinulla ei ole tarvittavia oikeuksia!</p>
        {%endif%}
    </div>
</body>
