<link rel="stylesheet" href="/static/main.css">
<link rel="icon" type="image/x-icon" href="/static/favicon.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<img src="/static/banner.png" alt="Kirjakatalogi">
<title>Kirjakatalogi - Lisää arvostelu</title>
<body>
    <div class="content">
        <p><a href="/">Takaisin etusivulle</a></p>
        {%if session.username%}
            <h2>Lisää arvostelu kirjalle '{{title}}':</h2>
            <form action="/add_review" method="POST">
                <input type="hidden" name="book_id" value="{{book_id}}">
                <label for="score">Arvosana: </label>
                <select id="score-field" name="score">
                    {%for i in range(1, 6)%}
                        {%if i == cur_score%}
                            <option value={{i}} selected>{{i}}
                        {%else%}
                            <option value={{i}}>{{i}}
                        {%endif%}
                    {%endfor%}
                </select>
                <label for="review">Sanallinen arvio: </label>
                <textarea name="review" rows="3" cols="50">{{cur_review}}</textarea>
                <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
                <input id="sendreview-button" type="submit" value="Lähetä">
            </form>
        {%else%}
            <p>Sinulla ei ole tarvittavia oikeuksia</p>
        {%endif%}
    </div>
</body>
