<title>Kirjakatalogi - Haku</title>
<p><a href="/">Takaisin etusivulle</a></p>
{%if session.username%}
    <h2>Hae kirjoja:</h2>
    <form action="/search_result" method="GET">
        <p>Hakusana: <input type="text" name="query"></p>
        <p>
        Hae kentästä:
        <select name="target">
            <option value="all" selected>Kaikki
            <option value="title">Kirjan nimi
            <option value="author">Kirjailijan nimi
        </select>
        </p>
        <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
        <input type="submit" value="Hae">
    </form>
    <ul>
    {%for r in results%}
        <li><a href="/book_page/{{r.id}}">{{r.author}}, {{r.title}}</a>
    {%endfor%}
    </ul>
{%else%}
    <p>Sinulla ei ole tarvittavia oikeuksia!</p>
{%endif%}
