<link rel="stylesheet" href="/static/main.css">
<link rel="icon" type="image/x-icon" href="/static/favicon.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<img src="/static/banner.png" alt="Kirjakatalogi">
<title>Kirjakatalogi - Haku</title>
<body>
    <div class="content">
        <p><a href="/">Takaisin etusivulle</a></p>
        {%if session.username%}
            <h2>Hae kirjoja:</h2>
            <form action="/search_result" method="GET">
                <label for="query">Hakusana: </label>
                <input type="text" name="query">
                <label for="target">Hae kentästä: </label>
                <select id="target-menu" name="target">
                    <option value="all" selected>Kaikki
                    <option value="title">Kirjan nimi
                    <option value="author">Kirjailijan nimi
                </select>
                <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
                <input id="search-button" type="submit" value="Hae">
            </form>
            <ul>
            {%for r in results%}
                <p><li><a href="/book_page/{{r.id}}">{{r.author}}, {{r.title}}</a></p>
            {%endfor%}
            </ul>
        {%else%}
            <p>Sinulla ei ole tarvittavia oikeuksia!</p>
        {%endif%}
    </div>
</body>
